@keyframes change-color {

    0%,
    100% {
        background-color: darkgray;
    }
}

.stripe {
    background-color: lightslategray;
    bottom: 0;
    animation: change-color .1s;
}

.stripe-box {
    display: flex;
}